<div style="padding: 50px 200px;">
  <p style="font-family: Work Sans; margin: 0 0 10px 0;">Profile > Edit Details</p>
  <h2 style="font-family: Noto Serif Display;">Edit Details</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email, required: true %>
      <%= f.input :phone_number, required: false %>
      <%= f.input :password,
                  hint: "Leave blank if you don't wish to change your password",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "We need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 15px;">
      <div class="form-actions" style="width: 48%;">
        <%= f.button :submit, "Update", class: "submit-button", style: 'margin: 0; border-radius: 4px;' %>
      </div>
      <div style="width: 48%;">
        <button class="submit-button" style="margin: 0; background-color: #af1b09; border-radius: 4px;"><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, style: "color: #fff;" %></button>
      </div>
    </div>
  <% end %>

  <%= link_to "Back", :back, style: 'color: #000' %>
</div>
