<div class="container">
  <div class="map-button-container">
    <h2 class="venues-text" style="font-size: 2.25rem;">Results for <%= @location %></h2>
    <div class="map-link"><%= link_to 'View Map', map_venues_path %></div>
  </div>
  <h2 style='margin: 0 20px 5px 0; font-size: 1.2rem; font-family: Noto Serif Display, serif;'>Filters</h2>
  <div class='d-flex justify-content-between' style="align-items: center">
  <%= form_tag venues_path, class: "filter-form", method: :get do %>
    <div>
      <%= text_field_tag :location,
        params[:location],
        class: "filter-input",
        placeholder: "Location",
        style: "width: 200px"
      %>
      <%= text_field_tag :min_size,
        params[:min_size],
        class: "filter-input",
        placeholder: "Min Size",
        style: "width: 100px"
      %>
      <%= text_field_tag :max_size,
      params[:max_size],
      class: "filter-input",
      placeholder: "Max Size",
      style: "width: 100px"
      %>
      <%= text_field_tag :max_price,
      params[:max_price],
      class: "filter-input",
      placeholder: "Max Price",
      style: "width: 100px"
      %>
    </div>
    <%= submit_tag "Search", class: "filter-submit-button" %>
    <% end %>
  </div>
  <div class='cards'>
    <% @venues.each do |venue| %>
      <%= link_to venue_path(venue), style: "color: #000" do %>
        <div class="card-venue">
          <%= image_tag venue.photo, style: "height: 70%; width: 100%;" %>
          <div class="card-body" style="padding: 10px 10px;" >
            <div class="card-info">
              <h3 style="font-size: 1rem; margin: 0;"><%= venue.title %></h3>
              <p class="location-text"><%= venue.location %></p>
            </div>
            <div class="card-price">
              <p>$<%= venue.rate %>/hour</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
