<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
<div class="container-md pt-3 mb-3">
  <div class="image-box">
    <%= cl_image_tag @venue.photo.key %>
    <div class="smaller-images">
      <% 4.times do |i| %>
        <div class="photo-placeholder">
          <p>Image Coming Soon
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container-md pb-3">
  <div class="d-flex" style="margin-bottom: 50px">
    <div style="width: 65%;">
      <h2 class="title-host" style="font-family: Noto Serif Display; margin-bottom: 0">
        <%= @venue.title %>
      </h2>
      <div style="margin-bottom: 25px;">
        <h5 class="host-user" style="font-family: Roboto; font-weight: 300"><%= @venue.location %></h5>
        <p class="meter" style="font-family: Roboto; font-weight: 300;"><%= @venue.square_meters %> m²</p>
      </div>
      <p class="price"> £<%= @venue.rate %>/hour <strong style="font-size: 15px; font-weight: 200; color: #646464;">(price may vary depending on number of guests)</strong></p>
      <div class="line-divider"> </div>
      <div class="description"><p style=" width: 100%; font-family: Times New Roman"><%= @venue.description %></p></div>
    </div>
    <div style="width:35%; padding: 0 20px;" class="owner-info">
      <%= simple_form_for [@venue, @booking] do |f| %>
        <br>
        <%= f.input :start_date, label: "Date", class: "booking-input" %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
        <%= f.input :guests, :as => :select, collection: ["10-50", "50-100", "100-150", "200+"], :selected => "10-50", label: "No. of Guests" %>
        <br>
        <%= f.submit "Book now", class:'submit-button' %>
      <% end %>
    </div>
  </div>
  <div class="reviews-section">
    <div style="display: flex; align-items: center; margin-bottom: 10px">
      <h3 style="font-family: Noto Serif Display; margin: 0 15px 0 0;">Reviews -</h3>
      <%= image_tag 'star.png', style: "height: 20px; width: 20px; margin-right: 10px" %>
      <p style="color: #646464; margin: 0; font-size: 1.5rem; margin-right: 5px"><%= @rating %></p>
      <p style="color: #646464; margin: 0; font-size: 1rem;">(<%= @reviews.length %> reviews)</p>
    </div>
    <div class="line-divider"></div>
    <div class="reviews-container">
      <% @reviews_with_time_ago.each do |review| %>
        <div style="margin-bottom: 35px;">
          <div style="display: flex; align-items: center; margin-bottom: 10px;">
            <%= image_tag 'anon-pic.png', style: "height: 30px; width: 30px; margin-right: 10px;" %>
            <p style="font-family: Noto Serif Display; margin: 0 10px 0 0;"><%= review["user_name"] %></p>
            <p style="margin: 0 10px 0 0; color: #646464;"><%= review["rating"] %> stars</p>
            <p style="margin: 0; font-size: 0.95rem; color: #646464;"><%= review["time_ago"] %> ago</p>
          </div>
          <p style="margin: 0; font-family: Times New Roman; font-size: 1rem;"><%= review["comment"] %></p>
        </div>

      <% end %>
    </div>
  </div>
</div>

<div>
